section#cta-section.section.cta-section.text-center.home-cta-section
      .container
        h2.title Call Now on 
          span.counting 1300 CHEWSR
        p.intro
          | Or
        p
          .form-container
            p.intro Stay up to date with the latest news and offers from Chewsr
            form.signup-form.navbar-form
              .form-group
                input.form-control(type='text', placeholder='Enter your email address')
              button.btn.btn-cta.btn-cta-primary(type='submit') Subscribe Now