section#cta-section.section.cta-section.text-center.home-cta-section
      .container
        h2.title Ready to promote your product online?
        p.intro
          | More than 
          span.counting 300,000
          |  users are using Velocity
        p
          a.btn.btn-cta.btn-cta-primary(href='https://wrapbootstrap.com/theme/velocity-designed-for-products-WB0N38R04', target='_blank') Get Velocity Now