section.section.press
      .container.text-center
        h2.title Press Coverage
        ul.press-list.list-inline.row
          li.col-xs-6.col-md-3
            a(href='#')
              img.img-responsive(src='assets/images/press/chewsr-press-1.jpg', alt='')
          li.col-xs-6.col-md-3
            a(href='#')
              img.img-responsive(src='assets/images/press/chewsr-press-2.jpg', alt='')
          li.xs-break.col-xs-6.col-md-3
            a(href='#')
              img.img-responsive(src='assets/images/press/chewsr-press-3.jpg', alt='')
          li.col-xs-6.col-md-3
            a(href='#')
              img.img-responsive(src='assets/images/press/chewsr-press-4.jpg', alt='')

        // //press-list
      
        //
          .press-lead.text-center
            h3.title Have press inquires?
            p.press-links
              a(href='#') Download our press kit
              |  or 
              a(href='contact.html') Get in touch