section.section.press
      .container.text-center
        h2.title Press Coverage
        ul.press-list.list-inline.row
          li.col-xs-4.col-sm-2
            a(href='#')
              img.img-responsive(src='assets/images/press/press-1.png', alt='')
          li.col-xs-4.col-sm-2
            a(href='#')
              img.img-responsive(src='assets/images/press/press-2.png', alt='')
          li.xs-break.col-xs-4.col-sm-2
            a(href='#')
              img.img-responsive(src='assets/images/press/press-3.png', alt='')
          li.col-xs-4.col-sm-2
            a(href='#')
              img.img-responsive(src='assets/images/press/press-4.png', alt='')
          li.col-xs-4.col-sm-2
            a(href='#')
              img.img-responsive(src='assets/images/press/press-5.png', alt='')
          li.col-xs-4.col-sm-2
            a(href='#')
              img.img-responsive(src='assets/images/press/press-6.png', alt='')
        // //press-list
        ul.press-list.list-inline.row.last
          li.col-xs-4.col-sm-2
            a(href='#')
              img.img-responsive(src='assets/images/press/press-7.png', alt='')
          li.col-xs-4.col-sm-2
            a(href='#')
              img.img-responsive(src='assets/images/press/press-8.png', alt='')
          li.xs-break.col-xs-4.col-sm-2
            a(href='#')
              img.img-responsive(src='assets/images/press/press-9.png', alt='')
          li.col-xs-4.col-sm-2
            a(href='#')
              img.img-responsive(src='assets/images/press/press-10.png', alt='')
          li.col-xs-4.col-sm-2
            a(href='#')
              img.img-responsive(src='assets/images/press/press-11.png', alt='')
          li.col-xs-4.col-sm-2
            a(href='#')
              img.img-responsive(src='assets/images/press/press-12.png', alt='')
        // //press-list
        .press-lead.text-center
          h3.title Have press inquires?
          p.press-links
            a(href='#') Download our press kit
            |  or 
            a(href='contact.html') Get in touch