section.section.testimonials
      .container
        h2.title.text-center What are people saying about Chewsr?
        #testimonials-carousel.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#testimonials-carousel', data-slide-to='0')
            li(data-target='#testimonials-carousel', data-slide-to='1')
            li(data-target='#testimonials-carousel', data-slide-to='2')
          .carousel-inner
            .item.active
              figure.profile
                img(src='assets/images/people/profile-m-1.png', alt='')
              .content
                blockquote
                  i.fa.fa-quote-left
                  p
                    | “Loved your app and the efficiency, especially as I was in a foreign city!” 
                p.source
                  | Senator Bridgette McKenzie
                  br
                  span.title Senator for Victoria
            .item
              figure.profile
                img(src='assets/images/people/profile-m-2.png', alt='')
              .content
                blockquote
                  i.fa.fa-quote-left
                  p
                    | When it’s really busy, it’s hard for our staff to take orders, make pizza’s and give great customer service. Chewsr’s VOS will help to manage these busy periods, increasing both our sales and customer satisfaction.
                p.source
                  | Myles Munro
                  br
                  span.title Homeslice Pizza
            .item
              figure.profile
                img(src='assets/images/people/profile-m-3.png', alt='')
              .content
                blockquote
                  i.fa.fa-quote-left
                  p
                    | I know I sell great food, but the description just doesn’t do my food justice and this has really been hurting my sales. Chewsr’s Visual Ordering System offers the perfect solution.
                p.source
                  | Kevin Perry
                  br
                  span.title General Manager Dish’d