section#why.section.why
 .container
   h2.title.text-center How Can Chewsr Help You?
   p.intro.text-center
     | Our platform takes orders, describes the dishes and filters for allergies and dietaries to save your waiter time and effort.
   .row.item
     .content.col-xs-12.col-md-4
       h3.title Saves you time and effort
       .desc
         p
           | Chewsr is a Visual Ordering System that enables customers to place an order directly from their smartphone into your POS system... It’s like having an extra pair of hands, that never calls in sick. 
       h3.title What’s a “Visual Ordering System”?
       .desc
         p
           | Your customers eat with their eyes. We provide a way for customers to see your entire menu as beautiful food photos (like the ones on instagram).  Our software enables your customers to see and order food at your restaurant using images instead of a menu. 
    
     figure.figure.col-md-offset-1.col-sm-offset-0.col-xs-offset-0.col-xs-12.col-md-7
       img.img-responsive(src='assets/images/figures/chewsr-iphone.jpg', alt='')
       figcaption.figure-caption Chewsr as a coffee ordering app
  
  
  
  
   .row.item
     .content.col-md-push-8.col-sm-push-0.col-xs-push-0.col-xs-12.col-md-4
       h3.title Integrates with your existing devices.
       .desc
         p
           | Chewsr is a Visual Ordering System (VOS) that customers access via their smartphones, to place an order from images of each item on your menu, directly into your POS system via a universal cloud based API.
         p
           | Rather than having waiters perform menial, repetitive tasks such as taking orders, receiving payments and explaining menu items, especially for allergies and dietaries; Chewsr automates these tasks while allowing the waiters time to offer personalised customer service and a focus on upselling.
       //
         .quote
           .quote-profile
             img.img-responsive.img-circle(src='assets/images/people/profile-s-2.png', alt='')
           .quote-content
             blockquote
               p
                 | I know I sell great food, but the description just doesn’t do my food justice and this has really been hurting my sales. Chewsr’s Visual Ordering System offers the perfect solution.
             p.source Kevin Perry, General Manager Dish'd

     figure.figure.col-md-pull-4.col-sm-pull-0.col-xs-pull-0.col-xs-12.col-md-7
       img.img-responsive(src='assets/images/figures/chewsr-iphone-integration.jpg', alt='')
       .control.text-center
         button.play-trigger.hidden(type='button', data-toggle='modal', data-target='#modal-video')
           i.fa.fa-play
       // //control


    .row.item#giveback
      .content.col-xs-12.col-md-4
        h3.title Give back
        .desc
          p
            | Chewsr believes in giving back to the community. If you are running a fundraiser or charity event, please get in contact to see how you can use Chewsr technology for free, to encourage more donations at your events. To date, Chewsr has donated 10% of profits to two Charities close to the heart of the founders; the Wayside Chapel and Vision Australia.
          p
            | These organisations provide access to health and social services for the disadvantaged and support people who are blind or low vision to live the life they choose. For my sister Laura and for my Aunt Gena-Marie, this is for you. 

      figure.figure.col-md-offset-1.col-sm-offset-0.col-xs-offset-0.col-xs-12.col-md-7
        img.img-responsive(src='assets/images/figures/chewsr-donate.jpg', alt='')
        .control.text-center
          button.play-trigger.hidden(type='button', data-toggle='modal', data-target='#modal-video')
            i.fa.fa-play
        // //control

   // //item
   .row.item
     .content.col-xs-12.col-md-4
       h3.title Simple Content Management
       .desc
         p
           | The engine that powers Chewsr is a photo based ecommerce platform structured specifically for hospitality. We use a flexible API that integrates with 65% of the most popular POS systems. We are able to individually customise a solution for the remainder 35%. Think of it like a flexible, digital menu that allows you to automate menu changes and easily update your menu items, descriptions, prices and availability; as easy as uploading a new facebook photo. 
         p
           | These menu items appear directly on the customer's phones when they look through your menu and are ordered straight through to your POS system.
         p
           | “Take a photo, write a description, add a price and post it. No more menus!”
     figure.figure.col-md-offset-1.col-sm-offset-0.col-xs-offset-0.col-xs-12.col-md-7
       img.img-responsive(src='assets/images/figures/chewsr-simple-cms.jpg', alt='')
       figcaption.figure-caption
         a(href='#', target='_blank') Mobile-first design CMS




   // //item
   .row.item.last-item.about-us-section
     .content.col-md-push-8.col-sm-push-0.col-xs-push-0.col-xs-12.col-md-4
       h3.title About Us
       .desc
         p
           | Team Chewsr are a group of tech-minded-foodies. We are a diverse talented team with careers spanning Hospitality, FMCG, Design, Photography and Software Development. We are passionate about helping our industry utilise new technologies to engage with customers and reduce the cost of doing business.
         p
           | As foodies, we want to unlock to phenomenon of instagram for restaurants so that everyone can order 
         p
           | Si Nguyen, Angela Edwards and Samuel Polgar are the brains behind Team Chewsr. 
     figure.figure.col-md-pull-4.col-sm-pull-0.col-xs-pull-0.col-xs-12.col-md-7
       img.img-responsive(src='assets/images/figures/chewsr-members.jpg', alt='')