section.story-section.section.section-on-bg
  h2.title.container.text-center Our story, our value
  .story-container.container.text-center
    .story-container-inner
      .about
        p
          | Tell users the story behind the product. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, 
          a(href='#') pretium quis
          | , sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
        blockquote.belife
          | We believe sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      // //about
      .team.row
        h3.title Meet the team
        .member.col-md-4.col-sm-6.col-xs-12
          .member-inner
            figure.profile
              img.img-responsive(src='assets/images/team/member-1.png', alt='')
              figcaption.info
                span.name Mark Cooper
                br
                span.job-title Co-Founder
            // //profile
            .social
              ul.social-list.list-inline
                li
                  a(href='#')
                    i.fa.fa-linkedin
                li
                  a(href='#')
                    i.fa.fa-twitter
              // //social-list
            // //social
          // //member-inner
        // //member
        .member.col-md-4.col-sm-6.col-xs-12
          .member-inner
            figure.profile
              img.img-responsive(src='assets/images/team/member-2.png', alt='')
              figcaption.info
                span.name Jack Tang
                br
                span.job-title Co-Founder
            // //profile
            .social
              ul.social-list.list-inline
                li
                  a(href='#')
                    i.fa.fa-linkedin
                li
                  a(href='#')
                    i.fa.fa-twitter
              // //social-list
            // //social
          // //member-inner
        // //member
        .member.col-md-4.col-sm-6.col-xs-12
          .member-inner
            figure.profile
              img.img-responsive(src='assets/images/team/member-3.png', alt='')
              figcaption.info
                span.name Anna Perry
                br
                span.job-title Product/UX Designer
            // //profile
            .social
              ul.social-list.list-inline
                li
                  a(href='#')
                    i.fa.fa-linkedin
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='#')
                    i.fa.fa-dribbble
              // //social-list
            // //social
          // //member-inner
        // //member
        .member.col-md-4.col-sm-6.col-xs-12
          .member-inner
            figure.profile
              img.img-responsive(src='assets/images/team/member-4.png', alt='')
              figcaption.info
                span.name Tim Robertson
                br
                span.job-title Back-end Developer
            // //profile
            .social
              ul.social-list.list-inline
                li
                  a(href='#')
                    i.fa.fa-linkedin
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='#')
                    i.fa.fa-github-alt
              // //social-list
            // //social
          // //member-inner
        // //member
        .member.col-md-4.col-sm-6.col-xs-12
          .member-inner
            figure.profile
              img.img-responsive(src='assets/images/team/member-5.png', alt='')
              figcaption.info
                span.name Rachel Wu
                br
                span.job-title Front-end Developer
            // //profile
            .social
              ul.social-list.list-inline
                li
                  a(href='#')
                    i.fa.fa-linkedin
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='#')
                    i.fa.fa-github-alt
              // //social-list
            // //social
          // //member-inner
        // //member
        .member.col-md-4.col-sm-6.col-xs-12
          .member-inner
            figure.profile
              img.img-responsive(src='assets/images/team/member-6.png', alt='')
              figcaption.info
                span.name Carl Allison
                br
                span.job-title Mobile Developer
            // //profile
            .social
              ul.social-list.list-inline
                li
                  a(href='#')
                    i.fa.fa-linkedin
                li
                  a(href='#')
                    i.fa.fa-twitter
                li
                  a(href='#')
                    i.fa.fa-github-alt
              // //social-list
            // //social
          // //member-inner
        // //member
      // //team
      .press-kit.text-center
        h3.title Press Kit
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.
        p
          | Please 
          a(href='contact.html') contact us
          |  if you need more materials.
        a.btn.btn-cta.btn-cta-secondary(href='#') Download Press Kit
      // //press-kit
    // //story-container
  // //container
// //story-video