header#header.header.navbar-fixed-top
  .container
    h1.logo
      a(href='index.html')
        span.text Chewsr
    nav.main-nav.navbar-right(role='navigation')
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #navbar-collapse.navbar-collapse.collapse
        ul.nav.navbar-nav
          li.nav-item.home-nav
            a(href='index.html') Home
          li.nav-item.how-nav
            a(href='index.html') How it works
          li.nav-item.giveback-nav
            a(href='index.html') Give back
          li.nav-item.about-nav
            a(href='index.html') About us
          li.nav-item.nav-item-cta.last
            a.btn.btn-cta.btn-cta-secondary(href='index.html') Sign Up Free
