header#header.header.navbar-fixed-top
  .container
    h1.logo
      a(href='index.html')
        span.text Chewsr
    nav.main-nav.navbar-right(role='navigation')
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #navbar-collapse.navbar-collapse.collapse
        ul.nav.navbar-nav
          li.active.nav-item
            a(href='index.html') Home
          li.nav-item
            a(href='features.html') Features
          li.nav-item
            a(href='pricing.html') Pricing
          li.nav-item.dropdown
            a.dropdown-toggle(data-toggle='dropdown', data-hover='dropdown', data-delay='0', data-close-others='false', href='#')
              | Pages 
              i.fa.fa-angle-down
            ul.dropdown-menu
              li
                a(href='download.html') Download Apps
              li
                a(href='blog.html') Blog
              li
                a(href='blog-single.html') Blog Single
              li
                a(href='blog-category.html') Blog Category
              li
                a(href='blog-archive.html') Blog Archive
              li
                a(href='about.html') About Us
              li
                a(href='contact.html') Contact
          // //dropdown
          li.nav-item
            a(href='login.html') Log in
          li.nav-item.nav-item-cta.last
            a.btn.btn-cta.btn-cta-secondary(href='signup.html') Sign Up Free
