.bg-slider-wrapper
  .flexslider.bg-slider
    ul.slides
      li.slide.slide-1
      li.slide
        .filter
        iframe(src='//player.vimeo.com/video/165500034?background=1&autoplay=1&loop=1&badge=0&byline=0&title=0&api=1', frameborder='0', allowfullscreen='', style='top: -7%; left: 0px; height: 113%; width: 100%;')
section.promo.section.section-on-bg
  .container.text-center
    p
      img.homepage-logo(src=contents.assets.images.logo['logo-chewsr.svg'].url)
    h2.title
      | Let's get your product online fast
      br
      | and get attention right away!
    p.intro
      | Velocity is a mobile-friendly HTML5 template designed to help you 
      br
      |  promote your product effectively to your target users
    p
      // a.btn.btn-cta.btn-cta-primary(href='signup.html') Try Velocity Free
    button.play-trigger.btn-link(type='button', data-toggle='modal', data-target='#modal-video')
      i.fa.fa-youtube-play
      |  Watch the video    