.bg-slider-wrapper
  .flexslider.bg-slider
    ul.slides
      li.slide.slide-1
      li.slide.slide-2
        .filter
        iframe#bg-video(src='//player.vimeo.com/video/165500034?background=1&autoplay=1&loop=1&badge=0&byline=0&title=0&api=1', frameborder='0', allowfullscreen='', style='top: 0%; left: 0px; height: 100%; width: 100%;')
section.promo.section.section-on-bg
  .container.text-center
    p
      img.homepage-logo(src=contents.assets.images.logo['logo-chewsr.svg'].url)
    h2.title
      | Let your customers
      br
      | EAT WITH THEIR EYES
    p.intro
      | Chewsr is a Visual Ordering System connecting the Bricks & Mortar Foodservice Industry with E-commerce. Save time, increase sales and get to know your customer with Chewsr.
    p
      a.btn.btn-cta.btn-cta-primary(href='signup.html') Try CHEWSR now
    button.play-trigger.btn-link(type='button', data-toggle='modal', data-target='#modal-video')
      i.fa.fa-youtube-play
      |  Watch the video    